python-dotenv>=0.9.9
matplotlib>=3.9.4
numpy>=1.26.4,<2.0
pandas>=2.2.3
requests>=2.32.3
openai>=1.75.0
scipy>=1.15.2
scikit-learn>=1.6.1
imbalanced-learn>=0.13.0
seaborn>=0.13.2
faicons>=0.3.0
adjustText>=0.8.0
shiny>=1.4.0
pyarrow>=23.0.1
querychat>=0.1.0
